<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.alm.job.dur.mapper.SubAccountLiabilityDurationMapper">

    <resultMap type="com.xl.alm.job.dur.entity.SubAccountLiabilityDurationEntity" id="SubAccountLiabilityDurationEntityResult">
        <result property="id" column="id"/>
        <result property="accountPeriod" column="account_period"/>
        <result property="cashFlowType" column="cash_flow_type"/>
        <result property="durationType" column="duration_type"/>
        <result property="designType" column="design_type"/>
        <result property="durationValSet" column="duration_val_set"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="isDel" column="is_del"/>
    </resultMap>

    <!-- 批量插入分账户负债久期汇总数据 -->
    <insert id="batchInsertSubAccountLiabilityDurationEntity" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into t_dur_sub_account_liability_duration (
            account_period, cash_flow_type, duration_type, design_type,
            duration_val_set, create_by, update_by
        ) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.accountPeriod},
            #{item.cashFlowType},
            #{item.durationType},
            #{item.designType},
            #{item.durationValSet},
            #{item.createBy},
            #{item.updateBy}
            )
        </foreach>
    </insert>

    <!-- 删除指定账期的分账户负债久期汇总数据 -->
    <update id="deleteSubAccountLiabilityDurationEntityByPeriod" parameterType="String">
        delete from t_dur_sub_account_liability_duration
        where account_period = #{accountPeriod}
    </update>
    
    <!-- 根据条件查询分账户负债久期汇总 -->
    <select id="selectSubAccountLiabilityDurationEntityByCondition" resultMap="SubAccountLiabilityDurationEntityResult">
        select id, account_period, cash_flow_type, duration_type, design_type,
               duration_val_set, create_time, create_by, update_time, update_by, is_del
        from t_dur_sub_account_liability_duration
        <where>
            account_period = #{accountPeriod}
            and cash_flow_type = #{cashFlowType}
            and duration_type = #{durationType}
            and design_type = #{designType}
            and is_del = 0
        </where>
    </select>
</mapper>
