<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.alm.job.cost.mapper.AccountEffectiveRateMapper">

    <resultMap type="com.xl.alm.job.cost.entity.AccountEffectiveRateEntity" id="AccountEffectiveRateEntityResult">
        <result property="id" column="id"/>
        <result property="accountingPeriod" column="accounting_period"/>
        <result property="designType" column="design_type"/>
        <result property="effectiveCostRate" column="effective_cost_rate"/>
        <result property="cashFlowSet" column="cash_flow_set"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="isDel" column="is_del"/>
    </resultMap>

    <sql id="selectAccountEffectiveRateVo">
        select id, accounting_period, design_type, effective_cost_rate, cash_flow_set,
               create_time, create_by, update_time, update_by, is_del
        from t_cost_account_effective_rate
    </sql>

    <select id="selectAccountEffectiveRateListByPeriod" parameterType="String" resultMap="AccountEffectiveRateEntityResult">
        <include refid="selectAccountEffectiveRateVo"/>
        where accounting_period = #{accountingPeriod}
        and is_del = 0
    </select>

    <delete id="deleteAccountEffectiveRateByPeriod" parameterType="String">
        delete from t_cost_account_effective_rate
        where accounting_period = #{accountingPeriod}
    </delete>

    <insert id="batchInsertAccountEffectiveRate" parameterType="java.util.List">
        insert into t_cost_account_effective_rate (
            accounting_period, design_type, effective_cost_rate, cash_flow_set,
            create_time, create_by, is_del
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.accountingPeriod}, #{item.designType}, #{item.effectiveCostRate}, #{item.cashFlowSet},
            sysdate(), #{item.createBy}, 0
            )
        </foreach>
    </insert>

</mapper>
