<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.alm.job.cost.mapper.BusinessTypeSummaryMapper">

    <resultMap type="com.xl.alm.job.cost.entity.BusinessTypeSummaryEntity" id="BusinessTypeSummaryEntityResult">
        <result property="id" column="id"/>
        <result property="scenarioName" column="scenario_name"/>
        <result property="businessType" column="business_type"/>
        <result property="accountingPeriod" column="accounting_period"/>
        <result property="designType" column="design_type"/>
        <result property="statutoryReserveT0" column="statutory_reserve_t0"/>
        <result property="statutoryReserveT1" column="statutory_reserve_t1"/>
        <result property="statutoryReserveT2" column="statutory_reserve_t2"/>
        <result property="statutoryReserveT3" column="statutory_reserve_t3"/>
        <result property="fundCostRateT0" column="fund_cost_rate_t0"/>
        <result property="fundCostRateT1" column="fund_cost_rate_t1"/>
        <result property="fundCostRateT2" column="fund_cost_rate_t2"/>
        <result property="fundCostRateT3" column="fund_cost_rate_t3"/>
        <result property="guaranteedCostRateT0" column="guaranteed_cost_rate_t0"/>
        <result property="guaranteedCostRateT1" column="guaranteed_cost_rate_t1"/>
        <result property="guaranteedCostRateT2" column="guaranteed_cost_rate_t2"/>
        <result property="guaranteedCostRateT3" column="guaranteed_cost_rate_t3"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="isDel" column="is_del"/>
    </resultMap>

    <sql id="selectBusinessTypeSummaryVo">
        select id, scenario_name, business_type, accounting_period, design_type,
               statutory_reserve_t0, statutory_reserve_t1, statutory_reserve_t2, statutory_reserve_t3,
               fund_cost_rate_t0, fund_cost_rate_t1, fund_cost_rate_t2, fund_cost_rate_t3,
               guaranteed_cost_rate_t0, guaranteed_cost_rate_t1, guaranteed_cost_rate_t2, guaranteed_cost_rate_t3,
               create_time, create_by, update_time, update_by, is_del
        from t_cost_business_type_summary
    </sql>

    <select id="selectBusinessTypeSummaryListByPeriod" parameterType="String" resultMap="BusinessTypeSummaryEntityResult">
        <include refid="selectBusinessTypeSummaryVo"/>
        where accounting_period = #{accountingPeriod}
        and is_del = 0
    </select>

    <delete id="deleteBusinessTypeSummaryByPeriod" parameterType="String">
        delete from t_cost_business_type_summary
        where accounting_period = #{accountingPeriod}
    </delete>

    <insert id="batchInsertBusinessTypeSummary" parameterType="java.util.List">
        insert into t_cost_business_type_summary (
            scenario_name, business_type, accounting_period, design_type,
            statutory_reserve_t0, statutory_reserve_t1, statutory_reserve_t2, statutory_reserve_t3,
            fund_cost_rate_t0, fund_cost_rate_t1, fund_cost_rate_t2, fund_cost_rate_t3,
            guaranteed_cost_rate_t0, guaranteed_cost_rate_t1, guaranteed_cost_rate_t2, guaranteed_cost_rate_t3,
            create_time, create_by, is_del
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.scenarioName}, #{item.businessType}, #{item.accountingPeriod}, #{item.designType},
            #{item.statutoryReserveT0}, #{item.statutoryReserveT1}, #{item.statutoryReserveT2}, #{item.statutoryReserveT3},
            #{item.fundCostRateT0}, #{item.fundCostRateT1}, #{item.fundCostRateT2}, #{item.fundCostRateT3},
            #{item.guaranteedCostRateT0}, #{item.guaranteedCostRateT1}, #{item.guaranteedCostRateT2}, #{item.guaranteedCostRateT3},
            sysdate(), #{item.createBy}, 0
            )
        </foreach>
    </insert>

</mapper>
