<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.alm.job.cost.mapper.DividendFundCostRateMapper">

    <resultMap type="com.xl.alm.job.cost.entity.DividendFundCostRateEntity" id="DividendFundCostRateEntityResult">
        <result property="id" column="id"/>
        <result property="accountingPeriod" column="accounting_period"/>
        <result property="actuarialCode" column="actuarial_code"/>
        <result property="businessCode" column="business_code"/>
        <result property="productName" column="product_name"/>
        <result property="dividendRatio" column="dividend_ratio"/>
        <result property="fundCostRateT0" column="fund_cost_rate_t0"/>
        <result property="fundCostRateT1" column="fund_cost_rate_t1"/>
        <result property="fundCostRateT2" column="fund_cost_rate_t2"/>
        <result property="fundCostRateT3" column="fund_cost_rate_t3"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="isDel" column="is_del"/>
    </resultMap>

    <sql id="selectDividendFundCostRateVo">
        select id, accounting_period, actuarial_code, business_code, product_name, dividend_ratio,
               fund_cost_rate_t0,
               fund_cost_rate_t1,
               fund_cost_rate_t2,
               fund_cost_rate_t3,
               create_time, create_by, update_time, update_by, is_del
        from t_base_dividend_fund_cost_rate
    </sql>

    <select id="selectDividendFundCostRateList" parameterType="com.xl.alm.job.cost.query.DividendFundCostRateQuery" resultMap="DividendFundCostRateEntityResult">
        <include refid="selectDividendFundCostRateVo"/>
        <where>
            <if test="accountingPeriod != null and accountingPeriod != ''">
                AND accounting_period = #{accountingPeriod}
            </if>
            AND is_del = 0
        </where>
    </select>

</mapper>
